Django==4.2.7
djangorestframework==3.14.0
django-cors-headers==4.3.1
celery==5.3.4
redis==5.0.1
python-telegram-bot==20.7
python-decouple==3.8
# psycopg2-binary==2.9.9  # Закомментировано для Windows, используем SQLite для разработки
drf-spectacular==0.26.5
coverage==7.3.2
flake8==6.1.0
dj-database-url==2.1.0
djangorestframework-simplejwt==5.3.0
django-celery-beat==2.5.0
requests==2.31.0
django-filter==23.5
gunicorn==21.2.0
black==25.1.0
